<div class='position-relative before-after-container'>
   <div class="image-container">
      <img class="image-before before-after-image" src="{{path}}assets/images/{{before-image}}" alt="before-image">
      <img class="image-after before-after-image" src="{{path}}assets/images/{{after-image}}" alt="after-image">
   </div>
   <input type="range" min="0" max="100" value="50" class="before-after-slider">
   <div class="before-after-slider-line" aria-hidden="true"></div>
   <div class="before-after-slider-button" aria-hidden="true"></div>
</div>