<div class="iq-circle-progressbar circle-progressbar-white gap-5 d-flex align-items-center flex-wrap flex-md-row flex-column text-md-start text-center">
   <div class="card-profile-progress">
      <div id="{{progress-id}}" class="circle-progress circle-progress-basic circle-progress-white" data-min-value="0" data-max-value="100" data-value="{{progress-value-number}}" data-type="percent">
      </div>
   </div>
   <div class="circle-progressbar-info">
      <span class="circle-progressbar-subtitle text-white text-uppercase fw-semibold letter-spacing-2">{{progress-subtitle}}</span>
      <h5 class="circle-progressbar-title mt-2 mb-0 text-white">{{progress-title}}</h5>
   </div>
</div>