<div class="iq-circle-progressbar text-center">
   <div class="card-profile-progress">
      <div id="{{progress-id}}" class="circle-progress circle-progress-basic circle-progress-primary" data-min-value="0" data-max-value="100" data-value="{{progress-value-number}}" data-type="percent">
      </div>
   </div>
   <div class="circle-progressbar-info">
      <h5 class="circle-progressbar-title mt-3 mb-0">{{progress-title}}</h5>
   </div>
</div>