<ul class="countdown d-flex align-items-center list-inline count-down" data-date={{time-duration}}>
    <li class="position-relative d-inline-lock">
        <span data-days class="numberDisplay">0</span><span
            class="text-center text-body text-uppercase fw-semibold">Days</span>
    </li>
    <li class="position-relative d-inline-block">
        <span data-hours class="numberDisplay">0</span><span
            class="text-center text-body text-uppercase fw-semibold">Hours</span>
    </li>
    <li class="position-relative d-inline-block">
        <span data-minutes class="numberDisplay">0</span><span
            class="text-center text-body text-uppercase fw-semibold">Minutes</span>
    </li>
    <li class="position-relative d-inline-block">
        <span data-seconds class="numberDisplay">0</span><span
            class="text-center text-body text-uppercase fw-semibold">Seconds</span>
    </li>
</ul>