<div class="iq-counter iq-counter-with-content">
   <div class="counter-content d-flex align-items-md-center flex-md-row flex-column gap-3">
      <h2 class="counter m-0 text-primary fw-bold">{{{counter-value}}}</h2>
      <h6 class="counter-title m-0 fw-normal">{{{counter-title}}}</h6>
   </div>
</div>