<div class="iq-counter iq-counter-icon d-flex align-items-center gap-3 gap-md-5">
   <div class="iq-counter-icon">
      {{{counter-icon}}}
   </div>
   <div class="counter-content">
      <h3 class="counter m-0">{{{counter-value}}}</h3>
      <p class="counter-text m-0">{{{counter-text}}}</p>
   </div>
</div>