<div class="iq-counter iq-counter-standard text-center">
   <div class="counter-content">
      <h2 class="counter mt-0 mb-2 text-white fw-500">{{{counter-value}}}</h2>
      <h6 class="counter-title fw-normal">{{{counter-title}}}</h6>
   </div>
</div>