<div class="history">
   <div class="row align-items-center">
      <div class="col-md-4 border-end">
         <div class="d-flex align-items-center gap-3 gap-lg-5 flex-lg-auto flex-wrap">
            <img src="{{path}}assets/images/{{history-image}}" alt="icon" class="img-fluid history-image" loading="lazy">
            <h5>{{history-year}}</h5>
         </div>
      </div>
      <div class="col-md-8 ps-md-5 mt-md-0 mt-3">
         <p class="mb-0">{{history-desc}}</p>
      </div>
   </div>
</div>