<div class="iq-icon-box column d-flex align-items-center gap-2">
   <div class="icon-box-img">
      <img src="{{path}}assets/images/{{iconbox-image}}" alt="icon" class="img-fluid" loading="lazy">
   </div>
   <div class="icon-box-content">
      <h5 class="icon-box-title">{{{iconbox-title}}}</h5>
      <p class="icon-box-desc mb-0">{{{iconbox-desc}}}</p>
   </div>
</div>