<div class="wrapper-progress">
   <div class="percentage-progress d-flex justify-content-between">
      <h6 class="mb-2 text-body">{{progress-title}}</h6>
      <div><span>{{progress-value}}%</span></div>
   </div>
</div>
<div class="progress" style="height:10px">
   <div class="progress-bar bg-primary" role="progressbar"
      style="width: {{progress-value}}%; height:10px" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100"></div>
</div>