<div class="modal fade" id="woosq-popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered positon-relative">
      <div class="modal-content rounded-0 border-0">
         <div class="modal-body py-0">
            <button type="button" class="btn-close position-absolute end-0" data-bs-dismiss="modal"
               aria-label="Close"></button>
            <div class="row align-items-center">
               <div class="col-md-6 p-0">
                  <img src="{{path}}assets/images/shop/product-1.webp" alt="shop-img" class="img-fluid">
               </div>
               <div class="col-md-6">
                  <div class="px-2 py-3 p-md-4">
                     <h3>Electric Toothbrush</h3>
                     <h5 class="fw-semibold mb-2">$123.00</h5>
                     <p class="mb-0 line-count-2">An electric toothbrush is a toothbrush that cleans teeth using quick, automatic
                        bristle movements such as rotational oscillation or back-and-forth oscillation. A
                        motor propels objects at or below sonic speeds.
                     </p>
                     <ul class="list-inline m-0 p-0 d-flex align-items-center gap-3 flex-wrap pt-0 pt-md-4 pb-5">
                        <li>
                           <div class="btn-group iq-qty-btn" data-qty="btn" role="group">
                              <button type="button"
                                 class="btn btn-sm btn-outline-light px-0 py-3 iq-quantity-minus">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="6" height="3"
                                    viewBox="0 0 6 3" fill="none">
                                    <path d="M5.22727 0.886364H0.136364V2.13636H5.22727V0.886364Z"
                                       fill="currentColor"></path>
                                 </svg>
                              </button>
                              <input type="text"
                                 class="btn btn-sm btn-outline-light px-0 py-3 input-display w-25"
                                 data-qty="input" pattern="^(0|[1-9][0-9]*)$" minlength="1" maxlength="2"
                                 value="2" title="Qty">
                              <button type="button"
                                 class="btn btn-sm btn-outline-light px-0 py-3 iq-quantity-plus">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8"
                                    viewBox="0 0 9 8" fill="none">
                                    <path
                                       d="M3.63636 7.70455H4.90909V4.59091H8.02273V3.31818H4.90909V0.204545H3.63636V3.31818H0.522727V4.59091H3.63636V7.70455Z"
                                       fill="currentColor"></path>
                                 </svg>
                              </button>
                           </div>
                        </li>
                        <li>
                           <div class="iq-btn-container">
                              <a class="iq-button text-uppercase cart-btn">
                                 <span class="iq-btn-text-holder position-relative cart-btn">Add to Cart</span>
                                 <span class="iq-btn-icon-holder">
                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M5 0.5C5.34518 0.5 5.625 0.779822 5.625 1.125V4.875H9.375C9.72018 4.875 10 5.15482 10 5.5C10 5.84518 9.72018 6.125 9.375 6.125H5.625V9.875C5.625 10.2202 5.34518 10.5 5 10.5C4.65482 10.5 4.375 10.2202 4.375 9.875V6.125H0.625C0.279822 6.125 0 5.84518 0 5.5C0 5.15482 0.279822 4.875 0.625 4.875H4.375V1.125C4.375 0.779822 4.65482 0.5 5 0.5Z"
                                          fill="currentColor"></path>
                                    </svg>
                                 </span>
                              </a>
                           </div>
                        </li>
                     </ul>
                     <div class="d-flex align-items-center">
                        <span>Categories :</span>
                        <h6 class="d-inline text-primary mb-0">Home Equipment</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>