<div class="mt-5 sidebar-widget-working-hour bg-secondary-subtle text-body p-3 p-md-5">
   <div class="icon mb-4">
      <i class="far fa-clock"></i>
   </div>
   <h4 class="mb-3 fw-500">Opening Time</h4>
   <ul class="list-inline m-0">
      <li class="mb-2 pb-2 border-bottom d-flex align-items-center justify-content-between">
         <span>Monday - Friday</span>
         <span>6:00 - 7:00 pm</span>
      </li>
      <li class="mb-2 pb-2 border-bottom d-flex align-items-center justify-content-between">
         <span>Saturday</span>
         <span>8:00 - 9:00 pm </span>
      </li>
      <li class="d-flex align-items-center justify-content-between">
         <span>Sunday</span>
         <span>Closed</span>
      </li>
   </ul>
</div>
<div class="mt-5 sidebar-widget-services bg-primary-subtle text-body p-3 p-md-5">
   <div class="image mb-5">
      <img src="{{path}}assets/images/pages/short-logo.png" class="img-fluid" alt="image">
   </div>
   <h4 class="mb-3">KiviCare Services</h4>
   <ul class="list-inline m-0">
      <li class="mb-2">
         <span><b>Call : </b></span>
         <span>+123456789</span>
      </li>
      <li class="mb-2">
         <span><b>Mail : </b></span>
         <span>support@example.com</span>
      </li>
      <li>
         <span><b>Address : </b></span>
         <span>1234 North Avenue Luke Lane, South Bend, IN 360001</span>
      </li>
   </ul>
   <div class="sidebar-widget-social-list mt-5">
      <ul class="list-inline m-0 p-0 d-flex align-items-center gap-3 flex-wrap">
         <li>
            <a href="https://www.facebook.com/" class="facebook-icon">
            <i class="fab fa-facebook"></i>
            </a>
         </li>
         <li>
            <a href="https://x.com/" class="twitter-icon">
            <i class="fab fa-twitter"></i>
            </a>
         </li>
         <li>
            <a href="https://www.youtube.com/" class="youtube-icon">
            <i class="fab fa-youtube"></i>
            </a>
         </li>
         <li>
            <a href="https://www.linkedin.com/" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
            </a>
         </li>
      </ul>
   </div>
</div>