<div class="iq-team-block team-overdetail position-relative p-2">
   <div class="iq-team-img">
      <img src="{{path}}assets/images/{{team-image}}" alt="team" class="img-fluid w-100" loading="lazy">
   </div>
   <div class="share iq-team-social position-absolute">
      <ul class="list-inline list-unstyled p-0 m-0">
         <li class="mb-2">
            <a class="position-relative bg-primary text-white d-flex justify-content-center align-items-center" href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"></i>
            </a>
         </li>
         <li class="mb-2">
            <a class="position-relative bg-primary text-white d-flex justify-content-center align-items-center" href="https://x.com/">
            <i class="fab fa-twitter"></i>
            </a>
         </li>
         <li>
            <a class="position-relative bg-primary text-white d-flex justify-content-center align-items-center" href="https://www.google.com/">
            <i class="fab fa-google"></i>
            </a>
         </li>
      </ul>
   </div>
   <div class="iq-team-info position-absolute d-block w-100">
      <div class="iq-team-main-detail bg-white">
         <a href="doctor-details.html">
            <h5>{{{team-member-name}}}</h5>
         </a>
         <p class="mb-0 text-uppercase fw-bolder text-primary fw-500">{{{team-specialized}}}</p>
      </div>
   </div>
</div>