<div class="iq-title-box">
   <span class="iq-subtitle text-uppercase">{{{sub-title}}}</span>
   <h2 class="iq-title iq-heading-title">
      <span class="right-text text-capitalize fw-500">{{{right-text}}}</span>
      <span class="left-text text-capitalize fw-light">{{{left-text}}}</span>
   </h2>
   <p class="iq-title-desc text-body mt-3 mb-0">
      {{{title-description}}}
   </p>
</div>