{{#extend 'layouts/default' title="A World With Only Optimized Experiences Is Just Boring" isBreadcrumb="true" isHeader="true" isFooter="true" active="blog-gallary"
path="./" }}
{{#content "content"}}
<div class="blog-gallery">
   {{> components/widgets/blog-detail isGallery="true" isTag="true" blog-image="blog/blog-8.webp"
   blog-author="goldenmace" blog-publish-date="march 14, 2022"
   blog-category="uncategorized"
   blog-tag="Health news"}}
</div>
{{/content}}
{{/extend}}