{{#extend 'layouts/default' title="Our Clients"  isHeader="true" isBreadcrumb="true" isFooter="true"  active="client" path="./" }}
{{#content "content"}}
<div class="section-padding">
   <div class="container">
      <div class="px-3">
         {{> components/widgets/client-grid}}
      </div>
   </div>
</div>
{{/content}}
{{/extend}}