{{#extend 'layouts/default' title="Faq" isHeader="true" isBreadcrumb="true" isFooter="true"
active="faq" path="./" }}
{{#content "content"}}
<div class="section-padding">
   <div class="container">
      <div class="accordion" id="main-faq">
         {{> components/widgets/faq show="true" uniqid="01" inid="01" faq-title="Can I trust my tap water? " faq-desc=" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything. " }}
         {{> components/widgets/faq uniqid="02" inid="02" faq-title="Is my microwave giving me cancer? " faq-desc="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything." }}
         {{> components/widgets/faq uniqid="03" inid="03" faq-title="How long am I contagious when I have the flu or a cold?" faq-desc="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything." }}
         {{> components/widgets/faq uniqid="04" inid="04" faq-title="How to book an appointment?" faq-desc=" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything." }}
         {{> components/widgets/faq uniqid="05" inid="05" faq-title="What is heart surgery?" faq-desc=" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything." }}
         {{> components/widgets/faq uniqid="06" inid="06" faq-title="What is Lasik Treatment?" faq-desc=" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything." }}
         {{> components/widgets/faq uniqid="07" inid="07" faq-title="What are bed charges?" faq-desc=" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything." }}
         {{> components/widgets/faq uniqid="08" inid="08" faq-title="Which vegetables to eat?" faq-desc=" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything." }}
      </div>
   </div>
</div>
{{/content}}
{{/extend}}