{{#extend 'layouts/default' isSweetalert="true" title="Order Summary"
isHeader="true"
isBreadcrumb="true"
isFooter="true"
active="order-received" path="./" isSelect2="true"}}
{{#content "content"}}
<div class="checkout-page  section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="main-cart mb-3 mb-md-5 pb-0 pb-md-5">
               <ul
                  class="cart-page-items d-flex justify-content-center list-inline align-items-center gap-3 gap-md-5 flex-wrap">
                  <li class="cart-page-item">
                     <span
                        class=" cart-pre-number bg-light border-radius rounded-circle me-1">
                        1 </span>
                     <span class="cart-page-link ">
                        Shopping Cart </span>
                  </li>
                  <li class="cart-page-item">
                     <svg width="25" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                           d="M12 21.2498C17.108 21.2498 21.25 17.1088 21.25 11.9998C21.25 6.89176 17.108 2.74976 12 2.74976C6.892 2.74976 2.75 6.89176 2.75 11.9998C2.75 17.1088 6.892 21.2498 12 21.2498Z"
                           stroke="currentColor" stroke-width="1.5"
                           stroke-linecap="round"
                           stroke-linejoin="round">
                        </path>
                        <path
                           d="M10.5576 15.4709L14.0436 11.9999L10.5576 8.52895"
                           stroke="currentColor"
                           stroke-width="1.5" stroke-linecap="round"
                           stroke-linejoin="round"></path>
                     </svg>
                  </li>
                  <li class="cart-page-item ">
                     <span
                        class=" cart-pre-number bg-light border-radius rounded-circle me-1">
                        2 </span>
                     <span class="cart-page-link ">
                        Checkout </span>
                  </li>
                  <li class="cart-page-item">
                     <svg width="25" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                           d="M12 21.2498C17.108 21.2498 21.25 17.1088 21.25 11.9998C21.25 6.89176 17.108 2.74976 12 2.74976C6.892 2.74976 2.75 6.89176 2.75 11.9998C2.75 17.1088 6.892 21.2498 12 21.2498Z"
                           stroke="currentColor" stroke-width="1.5"
                           stroke-linecap="round"
                           stroke-linejoin="round">
                        </path>
                        <path
                           d="M10.5576 15.4709L14.0436 11.9999L10.5576 8.52895"
                           stroke="currentColor"
                           stroke-width="1.5" stroke-linecap="round"
                           stroke-linejoin="round"></path>
                     </svg>
                  </li>
                  <li class="cart-page-item  active">
                     <span
                        class="cart-pre-heading badge cart-pre-number bg-primary border-radius rounded-circle me-1">
                        3 </span>
                     <span class="cart-page-link ">
                        Order Summary </span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="order-wrapper p-4 bg-white mb-5">
         <h5 class="text-center mb-4">Thank you. Your order has been
            received.</h5> 
         <div class="table-responsive">
            <table class="edit-address w-100 border-0 bg-white">
               <tbody>
                  <tr>
                     <td class="label-name p-2">Order number</td>
                     <td class="seprator p-2"><span>:</span></td>
                     <td class="p-2">38653</td>
                  </tr>
                  <tr>
                     <td class="label-name p-2">DATE</td>
                     <td class="seprator p-2"><span>:</span></td>
                     <td class="p-2">July 24, 2023</td>
                  </tr>
                  <tr>
                     <td class="label-name p-2">EMAIL</td>
                     <td class="seprator p-2"><span>:</span></td>
                     <td class="p-2">jondoe@gmail.com</td>
                  </tr>
                  <tr>
                     <td class="label-name p-2">TOTAL</td>
                     <td class="seprator p-2"><span>:</span></td>
                     <td class="p-2">$64.00</td>
                  </tr>
                  <tr>
                     <td class="label-name p-2">PAYMENT METHOD</td>
                     <td class="seprator p-2"><span>:</span></td>
                     <td class="p-2">Cash on delivery</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <h4 class="mb-3">Order Details</h4>
      <div class="checkout-review-order">
         <div class="table-responsive">
            <table class="w-100">
               <thead>
                  <tr class="border-bottom">
                     <th class="ps-0 p-3 text-primary">Product</th>
                     <th class="pe-0 p-3 text-primary text-end">Total</th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="border-bottom">
                     <td class="ps-0 p-3"><span class="text-primary">Electric
                           Toothbrush</span> × 1</td>
                     <td class="pe-0 p-3 text-end">$123.00</td>
                  </tr>
                  <tr class="border-bottom">
                     <td class="ps-0 p-3"><span class="text-primary">Medical
                           Box</span> × 1</td>
                     <td class="pe-0 p-3 text-end">$92.00</td>
                  </tr>
               </tbody>
               <tfoot>
                  <tr class="border-bottom">
                     <td class="ps-0 p-3 fw-bold text-primary">Subtotal</td>
                     <td
                        class="pe-0 p-3 fw-bold text-end text-dark">$215.00</td>
                  </tr>
                  <tr class="border-bottom">
                     <td class="ps-0 p-3 fw-bold text-primary">Payment
                        Method:</td>
                     <td class="pe-0 p-3 fw-bold text-end text-dark">Cash On
                        Delivery</td>
                  </tr>
                  <tr class="border-bottom">
                     <td class="ps-0 p-3 fw-bold text-primary">Total:</td>
                     <td
                        class="pe-0 p-3 fw-bold text-end text-dark">$215.00</td>
                  </tr>
                  <tr class="border-bottom">
                     <td class="ps-0 p-3 fw-bold text-primary">Note:</td>
                     <td class="pe-0 p-3 fw-bold text-end text-dark"></td>
                  </tr>
               </tfoot>
            </table>
         </div>
      </div>
      <h4 class="my-4">Billing Address</h4>
      <div class="order-wrapper p-4 bg-white mb-5">
      <div class="table-responsive">
         <table class="edit-address w-100 border-0 bg-white">
            <tbody>
               <tr>
                  <td class="label-name p-2">Name</td>
                  <td class="seprator p-2"><span>:</span></td>
                  <td class="p-2">john deo</td>
               </tr>
               <tr>
                  <td class="label-name p-2">Company</td>
                  <td class="seprator p-2"><span>:</span></td>
                  <td class="p-2">Iqonic Design</td>
               </tr>
               <tr>
                  <td class="label-name p-2">Country</td>
                  <td class="seprator p-2"><span>:</span></td>
                  <td class="p-2">India</td>
               </tr>
               <tr>
                  <td class="label-name p-2">Address</td>
                  <td class="seprator p-2"><span>:</span></td>
                  <td class="p-2">4517, Washington Ave, Manchester.</td>
               </tr>
               <tr>
                  <td class="label-name p-2">E-mail</td>
                  <td class="seprator p-2"><span>:</span></td>
                  <td class="p-2">johndeo@gmail.com</td>
               </tr>
               <tr>
                  <td class="label-name p-2">Phone</td>
                  <td class="seprator p-2"><span>:</span></td>
                  <td class="p-2">1234567890</td>
               </tr>
            </tbody>
         </table>
      </div>
      </div>
   </div>
</div>
{{/content}}
{{/extend}}