{{#extend 'layouts/default' title="Service" isHeader="true" isBreadcrumb="true" isFooter="true" active="service2" path="./" isSwiperSlider="true" isCircleProgress="true"}}
{{#content "content"}}
<div class="section-padding">
   <div class="container">
      <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1">
         <div class="col">
            {{> components/widgets/service-box service-title="Relationship Issues"
            service-description="unde omnis iste natus error sit volupta accusant dolore rem aperiam"
            service-image="service/relationship-issue.webp" service-icon="service/relatioship-issue.svg" btn-url="service-detail.html"}}
         </div>
         <div class="col mt-5 mt-lg-0 mt-md-0">
            {{> components/widgets/service-box service-title="Bipolar Disorder"
            service-description="unde omnis iste natus error sit volupta accusant dolore rem aperiam"
            service-image="service/bipolor-disorder.webp" service-icon="service/bipolor-disorder.svg" btn-url="service-detail.html"}}
         </div>
         <div class="col mt-5 mt-xl-0">
            {{> components/widgets/service-box service-title="Depression"
            service-description="unde omnis iste natus error sit volupta accusant dolore rem aperiam"
            service-image="service/Depression.webp" service-icon="service/depression.svg" btn-url="service-detail.html"}}
         </div>
         <div class="col mt-5">
            {{> components/widgets/service-box service-title="Couple Therapy"
            service-description="unde omnis iste natus error sit volupta accusant dolore rem aperiam"
            service-image="service/Couple-therapy.webp" service-icon="service/couple-therapy.svg" btn-url="service-detail.html"}}
         </div>
         <div class="col mt-5">
            {{> components/widgets/service-box service-title="diagnosis"
            service-description="unde omnis iste natus error sit volupta accusant dolore rem aperiam"
            service-image="service/Diagonsis.webp" service-icon="service/diagonsis-1.svg" btn-url="service-detail.html"}}
         </div>
         <div class="col mt-5">
            {{> components/widgets/service-box service-title="coronary heart "
            service-description="unde omnis iste natus error sit volupta accusant dolore rem aperiam"
            service-image="service/coronary-heart.webp" service-icon="service/coronary-heart.svg" btn-url="service-detail.html"}}
         </div>
      </div>
   </div>
</div>
{{/content}}
{{/extend}}