
{{#extend layout title="Vector Map" isBanner="true" active="map-vector" isVectorMap="true" path="../" isHeader="true" isSelect2="true" isFlatpickr="true"}}
{{#content "content"}}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between mb-0">
                <div class="header-title">
                    <h4 class="card-title">Vector</h4>
                </div>
            </div>
            <div class="card-body">
                <div id="chart-map-column-04" class="custom-chart"></div>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}