<footer>
    <div class="footer-top text-body inner-box pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <div class="pe-lg-5">
                        {{> components/widgets/logo}}
                        <p class="mt-3 mt-md-4">It is a long established fact that a reader will be distracted by the readable.</p>
                        <h5 class="text-primary my-3">(316) 555-0116</h5>
                        <a href="mailto:support@example.com"><span class="text-body">customersuport@Kivicare.com</span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6  mb-5 mb-lg-0">
                    <h5 class="mb-3 mb-md-5">Important Links</h5>
                    <ul class="m-0 p-0 list-unstyled footer-menu-link">
                        <li class="mb-3"><a href="{{path}}about-us.html"><i
                                    class="fas fa-angle-right me-2"></i>About us</a></li>
                        <li class="mb-3"><a href="{{path}}service1.html"><i
                                    class="fas fa-angle-right me-2"></i>Service</a></li>
                        <li class="mb-3"><a href="{{path}}tab-three-column.html"><i
                                    class="fas fa-angle-right me-2"></i>Team</a></li>
                        <li><a href="{{path}}contactus.html"><i
                                    class="fas fa-angle-right me-2"></i>Contact Us</a></li>
                    </ul>

                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-3 mb-md-5">Contact Us</h5>
                    <p>4517 Washington Ave,  Manchester, Kentucky .England 524163.</p>
                    <ul class="iq-social list-inline d-flex align-items-center mt-5 gap-3 m-0">
                        <li>
                            <a href="https://facebook.com/">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1"
                                        fill="none"></circle>
                                </svg>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1"
                                        fill="none"></circle>
                                </svg>
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1"
                                        fill="none"></circle>
                                </svg>
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                    <div class="pe-lg-5">
                        <h5 class="mb-3 mb-md-5">Working Hours</h5>
                        <ul class="list-inline m-0">
                            <li class="mb-3 d-flex align-items-center justify-content-between">
                                <span>Monday - Friday</span>
                                <span class="text-primary">6:00 - 7:00 pm</span>
                            </li>
                            <li class="mb-3 d-flex align-items-center justify-content-between">
                                <span>Saturday</span>
                                <span class="text-primary">8:00 - 2:00 pm </span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between">
                                <span>Sunday</span>
                                <span class="text-primary">Closed</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-white">
        <div class="container   py-4 ">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <p class="mb-0">©
                        <script>document.write(new Date().getFullYear())</script> KiviCare All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>