<footer class="footer">
    <div class="footer-bottom bg-primary-subtle text-body">
        <div class="container py-3">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <p class="mb-0">©
                        <script>document.write(new Date().getFullYear())</script> KiviCare All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>