<footer class="footer-dark bg-secondary">
    <div class="footer-top inner-box ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <div class="pe-lg-5">
                        {{> components/widgets/logo logo-image="logo-red-footer.png"}}
                        <p class="my-3 my-md-5 text-white">Best Quality of Treatment & Patient Care by professional Doctors </p>
                        <div class="d-flex gap-3">
                             <span class="text-white">
                                <i aria-hidden="true" class="far fa-clock fs-4 text-primary"></i>
                            </span>
                            <div>
                                <p class="m-0 text-white">Mon to Sat:<span class="text-primary ms-1"> 9:00 to 20:00</span></p>
                                <p class="m-0 text-white">Sunday: <span class="text-primary ms-1">Closed</span></p>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  mb-5 mb-lg-0">
                    <div class="pe-lg-5">
                        <h5 class="mb-5 fw-normal text-white">Services To Explore</h5>
                        <ul class="m-0 p-0 list-unstyled footer-menu-link">
                            <li class="mb-3"><a class="text-white" href="./oncologist.html"><i class="fas fa-angle-right me-2"></i>Oncologist</a></li>
                            <li class="mb-3"><a class="text-white" href="./neurologist.html"><i class="fas fa-angle-right me-2"></i>Neurologist</a></li>
                            <li class="mb-3"><a class="text-white" href="./ent-specialist.html"><i class="fas fa-angle-right me-2"></i>Ent Specialist</a></li>
                            <li class="mb-3"><a class="text-white" href="./cardiologist.html"><i class="fas fa-angle-right me-2"></i>Cardiologist</a></li>
                            <li class="mb-3"><a class="text-white" href="./audiologist.html"><i class="fas fa-angle-right me-2"></i>Audiologist</a></li>
                            <li class="mb-3"><a class="text-white" href="./psychiatrists.html"><i class="fas fa-angle-right me-2"></i>Psychiatrists</a></li>
                        </ul>
                    </div>                 
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pe-lg-5">
                        <h5 class="mb-5 fw-normal text-white">Quick Contact</h5>
                        <ul class="list-inline m-0">
                            <li class="mb-3 text-white">
                                4517, Washington Ave,  Manchester, Kentucky, England 524163.
                            </li>
                            <li class="mb-3">
                                <a class="text-white" href="tel:4805550103">+ (480) 555-0103</a>
                            </li>
                            <li class="">
                                <a href="./contactus.html">www.kivicare.contact.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                    <h5 class="mb-5 fw-normal text-white">Our App</h5>                    
                   <h6 class="text-white fw-normal">Download our App and Have Our Services</h6>
                   <div class="d-flex flex-wrap align-items-center gap-2 mt-4">
                        <span>
                            <img src="{{path}}assets/images/pages/appstore-123.svg" alt="appstore" class="img-fluid d-inline-block">
                        </span>
                        <span>
                            <img src="{{path}}assets/images/pages/google-play-store.svg" alt="google-play-store" class="img-fluid d-inline-block">
                        </span>
                    </div>
                    <ul class="iq-social list-inline d-flex align-items-center mt-5 gap-3 m-0">
                        <li class="label text-white fw-500">Follow us :</li>
                         <li>
                            <a href="https://facebook.com/">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1"
                                        fill="none"></circle>
                                </svg>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1"
                                        fill="none"></circle>
                                </svg>
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1"
                                        fill="none"></circle>
                                </svg>
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom border-top">
        <div class="container py-4 ">
            <p class="mb-0 text-white text-center">©
                <script>document.write(new Date().getFullYear())</script> KiviCare All Rights Reserved.
            </p>
        </div>
    </div>
</footer>