{{#extend layout title="Doctors" active="patient-doctors" path="./" isSelect2="true" isTour="true" isFlatpickr="true"
isBanner="false" isHeader1="true" isSidebar="false" isSettingModal="true" bodyClass="full-screen"}}
{{#content "content"}}
<div class="mt-5">
    <h1 class="mb-3">Hello! Amine Steward</h1>
    <span class="mx-0 text-capitalize">Have a nice day. don’t forget to take care of your self.</span>
</div>
<div class="row mt-5 mb-5">
    <div class="col-xl-3 col-lg-4 col-sm-6">
        {{> pages/widget/doctor-box doctor-image="1.webp" doctor-status="1000+ Appointment Completed" doctor-name="Dr. Amine Louis" doctor-designation="Senior General Physician" doctor-reviews="4.5 (3,762 reviews)"}}
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        {{> pages/widget/doctor-box doctor-image="2.webp" doctor-status="1000+ Appointment Completed" doctor-name="Dr. Alexandra Johnson" doctor-designation="Senior General Physician" doctor-reviews="4.5 (3,762 reviews)"}}
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        {{> pages/widget/doctor-box doctor-image="3.webp" doctor-status="1000+ Appointment Completed" doctor-name="Dr. Benjamin Davis" doctor-designation="Senior General Physician" doctor-reviews="4.5 (3,762 reviews)"}}
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        {{> pages/widget/doctor-box doctor-image="4.webp" doctor-status="1000+ Appointment Completed" doctor-name="Dr. Emily Thompson" doctor-designation="Senior General Physician" doctor-reviews="4.5 (3,762 reviews)"}}
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        {{> pages/widget/doctor-box doctor-image="5.webp" doctor-status="1000+ Appointment Completed" doctor-name="Dr. Christopher Martinez" doctor-designation="Senior General Physician" doctor-reviews="4.5 (3,762 reviews)"}}
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        {{> pages/widget/doctor-box doctor-image="6.webp" doctor-status="1000+ Appointment Completed" doctor-name="Dr. Olivia Wilson" doctor-designation="Senior General Physician" doctor-reviews="4.5 (3,762 reviews)"}}
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        {{> pages/widget/doctor-box doctor-image="7.webp" doctor-status="1000+ Appointment Completed" doctor-name="Dr. Ethan Rodriguez" doctor-designation="Senior General Physician" doctor-reviews="4.5 (3,762 reviews)"}}
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        {{> pages/widget/doctor-box doctor-image="8.webp" doctor-status="1000+ Appointment Completed" doctor-name="Dr. Emily Thompson" doctor-designation="Senior General Physician" doctor-reviews="4.5 (3,762 reviews)"}}
    </div>
</div>
{{/content}}
{{/extend}}