{{#extend layout title="Patient" active="patient" path="./" isSelect2="true" isTour="true" isFlatpickr="true"
isBanner="false" isHeader="true" isSweetalert="true"}}
{{#content "content"}}

{{> pages/widget/top-nav}}
<div class="card">
   <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
      <div>
         <h4>All Patient</h4>
         <span>More Than 400+ New Payments</span>
      </div>
      <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasPatientAdd" aria-controls="offcanvasPatientAdd">
         <span class="btn-inner">
            <span class="text d-inline-block align-middle">Add Patient</span>
            <span class="icon d-inline-block align-middle ms-1 ps-2">
               <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                  <path
                        d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                        fill="currentColor" />
               </svg>
            </span>
         </span>
      </button>
   </div>
   <div class="card-body pt-0">
      <div class="table-responsive">
         <table class="table border-end border-start align-middle mb-0 rounded">
            <thead class="table-dark">
               <tr>
                  <th>No.</th>
                  <th>ID</th>
                  <th>Patient Name</th>
                  <th>Age</th>
                  <th>Phone Number</th>
                  <th>Date & Time</th>
                  <th>Gender</th>
                  <th>Reason</th>
                  <th>Blood Group</th>
                  <th>Doctor Name</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr data-item="list">
                  <th scope="row">1</th>
                  <td>#14356</td>
                  <td>
                     <h6 class="mb-0 text-body fw-normal">Isabella Brown</h6>
                  </td>
                  <td>23</td>
                  <td>+1 345 675 345</td>
                  <td>24 May - 10:00 AM</td>
                  <td>Female</td>
                  <td>Vaccination</td>
                  <td>O +ve</td>
                  <td>Dr. David Johnson</td>
                  <td>
                     <a data-bs-toggle="offcanvas" href="#offcanvasPatientEdit" aria-controls="offcanvasPatientEdit"
                        class="d-inline-block pe-2">
                        <span class="text-success">
                           <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.31055 14.3321H14.75" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M8.58501 1.84609C9.16674 1.15084 10.2125 1.04889 10.9222 1.6188C10.9614 1.64972 12.2221 2.62909 12.2221 2.62909C13.0017 3.10039 13.244 4.10233 12.762 4.86694C12.7365 4.90789 5.60896 13.8234 5.60896 13.8234C5.37183 14.1192 5.01187 14.2938 4.62718 14.298L1.89765 14.3323L1.28265 11.7292C1.1965 11.3632 1.28265 10.9788 1.51978 10.683L8.58501 1.84609Z"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M7.26562 3.50073L11.3548 6.64108" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                     <a href="#" class="d-inline-block ps-2 delete-btn">
                        <span class="text-danger">
                           <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12.4938 6.10107C12.4938 6.10107 12.0866 11.1523 11.8503 13.2801C11.7378 14.2963 11.1101 14.8918 10.0818 14.9106C8.12509 14.9458 6.16609 14.9481 4.21009 14.9068C3.22084 14.8866 2.60359 14.2836 2.49334 13.2853C2.25559 11.1388 1.85059 6.10107 1.85059 6.10107"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M13.5312 3.67969H0.812744" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M11.0804 3.67974C10.4917 3.67974 9.98468 3.26349 9.86918 2.68674L9.68693 1.77474C9.57443 1.35399 9.19343 1.06299 8.75918 1.06299H5.58443C5.15018 1.06299 4.76918 1.35399 4.65668 1.77474L4.47443 2.68674C4.35893 3.26349 3.85193 3.67974 3.26318 3.67974"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                  </td>
               </tr>
               <tr data-item="list">
                  <th scope="row">2</th>
                  <td>#14678</td>
                  <td>
                     <h6 class="mb-0 text-body fw-normal">Daniel White</h6>
                  </td>
                  <td>25</td>
                  <td>+1 555-123-4567</td>
                  <td>30 May - 10:00 AM</td>
                  <td>Male</td>
                  <td>Gen. Check-Up</td>
                  <td>O +ve</td>
                  <td>Dr. Benjamin Davis</td>
                  <td>
                     <a data-bs-toggle="offcanvas" href="#offcanvasPatientEdit" aria-controls="offcanvasPatientEdit"
                        class="d-inline-block pe-2">
                        <span class="text-success">
                           <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.31055 14.3321H14.75" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M8.58501 1.84609C9.16674 1.15084 10.2125 1.04889 10.9222 1.6188C10.9614 1.64972 12.2221 2.62909 12.2221 2.62909C13.0017 3.10039 13.244 4.10233 12.762 4.86694C12.7365 4.90789 5.60896 13.8234 5.60896 13.8234C5.37183 14.1192 5.01187 14.2938 4.62718 14.298L1.89765 14.3323L1.28265 11.7292C1.1965 11.3632 1.28265 10.9788 1.51978 10.683L8.58501 1.84609Z"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M7.26562 3.50073L11.3548 6.64108" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                     <a href="#" class="d-inline-block ps-2 delete-btn">
                        <span class="text-danger">
                           <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12.4938 6.10107C12.4938 6.10107 12.0866 11.1523 11.8503 13.2801C11.7378 14.2963 11.1101 14.8918 10.0818 14.9106C8.12509 14.9458 6.16609 14.9481 4.21009 14.9068C3.22084 14.8866 2.60359 14.2836 2.49334 13.2853C2.25559 11.1388 1.85059 6.10107 1.85059 6.10107"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M13.5312 3.67969H0.812744" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M11.0804 3.67974C10.4917 3.67974 9.98468 3.26349 9.86918 2.68674L9.68693 1.77474C9.57443 1.35399 9.19343 1.06299 8.75918 1.06299H5.58443C5.15018 1.06299 4.76918 1.35399 4.65668 1.77474L4.47443 2.68674C4.35893 3.26349 3.85193 3.67974 3.26318 3.67974"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                  </td>
               </tr>
               <tr data-item="list">
                  <th scope="row">3</th>
                  <td>#12431</td>
                  <td>
                     <h6 class="mb-0 text-body fw-normal">Ashley Garcia</h6>
                  </td>
                  <td>19</td>
                  <td>+44 20 1234 5678</td>
                  <td>16 Jun - 10:00 AM</td>
                  <td>Female</td>
                  <td>Vaccination</td>
                  <td>B +ve</td>
                  <td>Dr. Emily Thompson</td>
                  <td>
                     <a data-bs-toggle="offcanvas" href="#offcanvasPatientEdit" aria-controls="offcanvasPatientEdit"
                        class="d-inline-block pe-2">
                        <span class="text-success">
                           <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.31055 14.3321H14.75" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M8.58501 1.84609C9.16674 1.15084 10.2125 1.04889 10.9222 1.6188C10.9614 1.64972 12.2221 2.62909 12.2221 2.62909C13.0017 3.10039 13.244 4.10233 12.762 4.86694C12.7365 4.90789 5.60896 13.8234 5.60896 13.8234C5.37183 14.1192 5.01187 14.2938 4.62718 14.298L1.89765 14.3323L1.28265 11.7292C1.1965 11.3632 1.28265 10.9788 1.51978 10.683L8.58501 1.84609Z"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M7.26562 3.50073L11.3548 6.64108" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                     <a href="#" class="d-inline-block ps-2 delete-btn">
                        <span class="text-danger">
                           <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12.4938 6.10107C12.4938 6.10107 12.0866 11.1523 11.8503 13.2801C11.7378 14.2963 11.1101 14.8918 10.0818 14.9106C8.12509 14.9458 6.16609 14.9481 4.21009 14.9068C3.22084 14.8866 2.60359 14.2836 2.49334 13.2853C2.25559 11.1388 1.85059 6.10107 1.85059 6.10107"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M13.5312 3.67969H0.812744" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M11.0804 3.67974C10.4917 3.67974 9.98468 3.26349 9.86918 2.68674L9.68693 1.77474C9.57443 1.35399 9.19343 1.06299 8.75918 1.06299H5.58443C5.15018 1.06299 4.76918 1.35399 4.65668 1.77474L4.47443 2.68674C4.35893 3.26349 3.85193 3.67974 3.26318 3.67974"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                  </td>
               </tr>
               <tr data-item="list">
                  <th>4</th>
                  <td>#21356</td>
                  <td>
                     <h6 class="mb-0 text-body fw-normal">Jonathan Thomas</h6>
                  </td>
                  <td>20</td>
                  <td>+1 416-555-7890</td>
                  <td>17 Jul - 10:00 AM</td>
                  <td>Female</td>
                  <td>Follow-up visit</td>
                  <td>A +ve</td>
                  <td>Dr. Olivia Wilson</td>
                  <td>
                     <a data-bs-toggle="offcanvas" href="#offcanvasPatientEdit" aria-controls="offcanvasPatientEdit"
                        class="d-inline-block pe-2">
                        <span class="text-success">
                           <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.31055 14.3321H14.75" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M8.58501 1.84609C9.16674 1.15084 10.2125 1.04889 10.9222 1.6188C10.9614 1.64972 12.2221 2.62909 12.2221 2.62909C13.0017 3.10039 13.244 4.10233 12.762 4.86694C12.7365 4.90789 5.60896 13.8234 5.60896 13.8234C5.37183 14.1192 5.01187 14.2938 4.62718 14.298L1.89765 14.3323L1.28265 11.7292C1.1965 11.3632 1.28265 10.9788 1.51978 10.683L8.58501 1.84609Z"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M7.26562 3.50073L11.3548 6.64108" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                     <a href="#" class="d-inline-block ps-2 delete-btn">
                        <span class="text-danger">
                           <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12.4938 6.10107C12.4938 6.10107 12.0866 11.1523 11.8503 13.2801C11.7378 14.2963 11.1101 14.8918 10.0818 14.9106C8.12509 14.9458 6.16609 14.9481 4.21009 14.9068C3.22084 14.8866 2.60359 14.2836 2.49334 13.2853C2.25559 11.1388 1.85059 6.10107 1.85059 6.10107"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M13.5312 3.67969H0.812744" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M11.0804 3.67974C10.4917 3.67974 9.98468 3.26349 9.86918 2.68674L9.68693 1.77474C9.57443 1.35399 9.19343 1.06299 8.75918 1.06299H5.58443C5.15018 1.06299 4.76918 1.35399 4.65668 1.77474L4.47443 2.68674C4.35893 3.26349 3.85193 3.67974 3.26318 3.67974"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                  </td>
               </tr>
               <tr data-item="list">
                  <th>5</th>
                  <td>#65783</td>
                  <td>
                     <h6 class="mb-0 text-body fw-normal">Sophia Wilson</h6>
                  </td>
                  <td>28</td>
                  <td>+61 2 9876 5432</td>
                  <td>09 Aug - 10:00 AM</td>
                  <td>Female</td>
                  <td>Flu Symptoms</td>
                  <td>AB -ve</td>
                  <td>Dr. Ethan Rodriguez</td>
                  <td>
                     <a data-bs-toggle="offcanvas" href="#offcanvasPatientEdit" aria-controls="offcanvasPatientEdit"
                        class="d-inline-block pe-2">
                        <span class="text-success">
                           <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.31055 14.3321H14.75" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M8.58501 1.84609C9.16674 1.15084 10.2125 1.04889 10.9222 1.6188C10.9614 1.64972 12.2221 2.62909 12.2221 2.62909C13.0017 3.10039 13.244 4.10233 12.762 4.86694C12.7365 4.90789 5.60896 13.8234 5.60896 13.8234C5.37183 14.1192 5.01187 14.2938 4.62718 14.298L1.89765 14.3323L1.28265 11.7292C1.1965 11.3632 1.28265 10.9788 1.51978 10.683L8.58501 1.84609Z"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M7.26562 3.50073L11.3548 6.64108" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                     <a href="#" class="d-inline-block ps-2 delete-btn">
                        <span class="text-danger">
                           <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12.4938 6.10107C12.4938 6.10107 12.0866 11.1523 11.8503 13.2801C11.7378 14.2963 11.1101 14.8918 10.0818 14.9106C8.12509 14.9458 6.16609 14.9481 4.21009 14.9068C3.22084 14.8866 2.60359 14.2836 2.49334 13.2853C2.25559 11.1388 1.85059 6.10107 1.85059 6.10107"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M13.5312 3.67969H0.812744" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M11.0804 3.67974C10.4917 3.67974 9.98468 3.26349 9.86918 2.68674L9.68693 1.77474C9.57443 1.35399 9.19343 1.06299 8.75918 1.06299H5.58443C5.15018 1.06299 4.76918 1.35399 4.65668 1.77474L4.47443 2.68674C4.35893 3.26349 3.85193 3.67974 3.26318 3.67974"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                  </td>
               </tr>
               <tr data-item="list">
                  <th>6</th>
                  <td>#12567</td>
                  <td>
                     <h6 class="mb-0 text-body fw-normal">Benjamin Chen</h6>
                  </td>
                  <td>29</td>
                  <td>+49 30 12345678</td>
                  <td>13 Aug - 10:00 AM</td>
                  <td>Male</td>
                  <td>Flu Symptoms</td>
                  <td>O +ve</td>
                  <td>Dr. Alexandra</td>
                  <td>
                     <a data-bs-toggle="offcanvas" href="#offcanvasPatientEdit" aria-controls="offcanvasPatientEdit"
                        class="d-inline-block pe-2">
                        <span class="text-success">
                           <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.31055 14.3321H14.75" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M8.58501 1.84609C9.16674 1.15084 10.2125 1.04889 10.9222 1.6188C10.9614 1.64972 12.2221 2.62909 12.2221 2.62909C13.0017 3.10039 13.244 4.10233 12.762 4.86694C12.7365 4.90789 5.60896 13.8234 5.60896 13.8234C5.37183 14.1192 5.01187 14.2938 4.62718 14.298L1.89765 14.3323L1.28265 11.7292C1.1965 11.3632 1.28265 10.9788 1.51978 10.683L8.58501 1.84609Z"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M7.26562 3.50073L11.3548 6.64108" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                     <a href="#" class="d-inline-block ps-2 delete-btn">
                        <span class="text-danger">
                           <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12.4938 6.10107C12.4938 6.10107 12.0866 11.1523 11.8503 13.2801C11.7378 14.2963 11.1101 14.8918 10.0818 14.9106C8.12509 14.9458 6.16609 14.9481 4.21009 14.9068C3.22084 14.8866 2.60359 14.2836 2.49334 13.2853C2.25559 11.1388 1.85059 6.10107 1.85059 6.10107"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M13.5312 3.67969H0.812744" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M11.0804 3.67974C10.4917 3.67974 9.98468 3.26349 9.86918 2.68674L9.68693 1.77474C9.57443 1.35399 9.19343 1.06299 8.75918 1.06299H5.58443C5.15018 1.06299 4.76918 1.35399 4.65668 1.77474L4.47443 2.68674C4.35893 3.26349 3.85193 3.67974 3.26318 3.67974"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                  </td>
               </tr>
               <tr data-item="list">
                  <th>7</th>
                  <td>#15342</td>
                  <td>
                     <h6 class="mb-0 text-body fw-normal">Samantha Davis</h6>
                  </td>
                  <td>30</td>
                  <td>+33 1 2345 6789</td>
                  <td>24 Sep - 10:00 AM</td>
                  <td>Male</td>
                  <td>Dental Cleaning</td>
                  <td>O +ve</td>
                  <td>Dr. Matthew</td>
                  <td>
                     <a data-bs-toggle="offcanvas" href="#offcanvasPatientEdit" aria-controls="offcanvasPatientEdit"
                        class="d-inline-block pe-2">
                        <span class="text-success">
                           <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.31055 14.3321H14.75" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M8.58501 1.84609C9.16674 1.15084 10.2125 1.04889 10.9222 1.6188C10.9614 1.64972 12.2221 2.62909 12.2221 2.62909C13.0017 3.10039 13.244 4.10233 12.762 4.86694C12.7365 4.90789 5.60896 13.8234 5.60896 13.8234C5.37183 14.1192 5.01187 14.2938 4.62718 14.298L1.89765 14.3323L1.28265 11.7292C1.1965 11.3632 1.28265 10.9788 1.51978 10.683L8.58501 1.84609Z"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M7.26562 3.50073L11.3548 6.64108" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                     <a href="#" class="d-inline-block ps-2 delete-btn">
                        <span class="text-danger">
                           <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12.4938 6.10107C12.4938 6.10107 12.0866 11.1523 11.8503 13.2801C11.7378 14.2963 11.1101 14.8918 10.0818 14.9106C8.12509 14.9458 6.16609 14.9481 4.21009 14.9068C3.22084 14.8866 2.60359 14.2836 2.49334 13.2853C2.25559 11.1388 1.85059 6.10107 1.85059 6.10107"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M13.5312 3.67969H0.812744" stroke="currentColor" stroke-width="1.5"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M11.0804 3.67974C10.4917 3.67974 9.98468 3.26349 9.86918 2.68674L9.68693 1.77474C9.57443 1.35399 9.19343 1.06299 8.75918 1.06299H5.58443C5.15018 1.06299 4.76918 1.35399 4.65668 1.77474L4.47443 2.68674C4.35893 3.26349 3.85193 3.67974 3.26318 3.67974"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="card-footer pt-0">
      {{> pages/widget/pagination}}
   </div>
</div>

{{!-- Edit Patient Form --}}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasPatientEdit"
   aria-labelledby="offcanvasPatientEditLabel">
   <div class="offcanvas-header border-bottom">
      <h3 class="offcanvas-title" id="offcanvasPatientEditLabel">Edit Patient</h3>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
   </div>
   <div class="offcanvas-body">
      <div class="form-group">
         <label class="form-label" for="Id">Patient Id <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="Id" value="#14356">
      </div>
      <div class="form-group">
         <label class="form-label" for="Name">Name <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="Name" value="Isabella Brown">
      </div>
      <div class="form-group">
         <label class="form-label" for="Age">Age </label>
         <input type="text" class="form-control" id="Age" value="23">
      </div>
      <div class="form-group col-md-12">
         <label class="form-label" for="PnoneNumber">Phone Number <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="PnoneNumber" value="+1 345 675 345">
      </div>
      <div class="form-group col-md-12">
         <label class="form-label" for="datetime">Date And Time <span class="text-danger">*</span></label>
         <input type="text" id="datetime" class="form-control date_flatpicker flatpickr-input active" value="2023-05-24" readonly="readonly">
      </div>
      <div class="form-group">
         <label class="form-label d-block">Gender <span class="text-danger">*</span></label>
         <div class="form-check d-inline-block">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="male2">
            <label class="form-check-label" for="male2">
               Male
            </label>
         </div>
         <div class="form-check d-inline-block ms-3">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="female2" checked>
            <label class="form-check-label" for="female2">
               Female
            </label>
         </div>
      </div>
      <div class="form-group col-md-12">
         <label class="form-label" for="reason">Reason <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="reason" value="Vaccination">
      </div>
      <div class="form-group col-md-12">
         <label class="form-label" for="reason">Blood Group <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="BloodGroup" value="O +ve">
      </div>
      <div class="form-group">
         <label class="form-label" for="Name">Doctor Name <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="Doctorname" value="Dr. David Johnson">
      </div>
   </div>
   <div class="offcanvas-footer border-top">
      <div class="d-grid d-md-flex gap-3 p-3">
         <button type="submit" class="btn btn-primary d-block">  
            <span class="btn-inner">
                <span class="text d-inline-block align-middle">Update</span>
                <span class="icon d-inline-block align-middle ms-1 ps-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor" />
                    </svg>
                </span>
            </span>
         </button>
         <button class="btn btn-secondary d-block" type="button" data-bs-dismiss="offcanvas">  
            <span class="btn-inner">
                <span class="text d-inline-block align-middle">Close</span>
                <span class="icon d-inline-block align-middle ms-1 ps-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor" />
                    </svg>
                </span>
            </span>
         </button>
      </div>
   </div>
</div>

{{!-- Add Patient Form --}}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasPatientAdd" aria-labelledby="offcanvasPatientAddLabel">
   <div class="offcanvas-header border-bottom">
      <h3 class="offcanvas-title" id="offcanvasPatientAddLabel">Add Patient</h3>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
   </div>
   <div class="offcanvas-body">
      <div class="form-group">
         <label class="form-label" for="add_id">Patient Id <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="add_id">
      </div>
      <div class="form-group">
         <label class="form-label" for="add_Name">Name <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="add_Name">
      </div>
      <div class="form-group">
         <label class="form-label" for="add_age">Age </label>
         <input type="text" class="form-control" id="add_age">
      </div>
      <div class="form-group col-md-12">
         <label class="form-label" for="AddPnoneNumber">Phone Number <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="AddPnoneNumber">
      </div>
      <div class="form-group col-md-12">
         <label class="form-label" for="adddatetime">Date And Time <span class="text-danger">*</span></label>
         <input type="text" id="adddatetime" class="form-control date_flatpicker flatpickr-input active" readonly="readonly">
      </div>
      <div class="form-group">
         <label class="form-label d-block" for="Name">Gender <span class="text-danger">*</span></label>
         <div class="form-check d-inline-block">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="male">
            <label class="form-check-label" for="male">
               Male
            </label>
         </div>
         <div class="form-check d-inline-block ms-3">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="female">
            <label class="form-check-label" for="female">
               Female
            </label>
         </div>
      </div>
      <div class="form-group col-md-12">
         <label class="form-label" for="add_reason">Reason <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="add_reason">
      </div>
      <div class="form-group col-md-12">
         <label class="form-label" for="AddBloodGroup">Blood Group <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="AddBloodGroup">
      </div>
      <div class="form-group">
         <label class="form-label" for="AddDoctorname">Doctor Name <span class="text-danger">*</span></label>
         <input type="text" class="form-control" id="AddDoctorname">
      </div>
   </div>
   <div class="offcanvas-footer border-top">
      <div class="d-grid d-md-flex gap-3 p-3">
         <button type="submit" class="btn btn-primary d-block">  
            <span class="btn-inner">
                <span class="text d-inline-block align-middle">Save</span>
                <span class="icon d-inline-block align-middle ms-1 ps-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor" />
                    </svg>
                </span>
            </span>
         </button>
         <button class="btn btn-secondary d-block" type="button" data-bs-dismiss="offcanvas">  
            <span class="btn-inner">
                <span class="text d-inline-block align-middle">Close</span>
                <span class="icon d-inline-block align-middle ms-1 ps-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor" />
                    </svg>
                </span>
            </span>
         </button>
      </div>
   </div>
</div>


{{/content}}
{{/extend}}