
{{#extend layout title="Solid Iocns" isBanner="true" active="solid-icon" path="../" isHeader="true" isSelect2="true" isFlatpickr="true"}}
{{#content "content"}}
 
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-center">
                <h4 class="card-title mb-0 flex-grow-1">Solid
                </h4>              
                <div>
                    <input type="search" placeholder="search icon" id="search-value" class="form-control">
                </div>
            </div>
            <div class="card-body">
                <div class="icon-grid" id="search-output">
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}
